body {
padding: 10px;

background-image: linear-gradient(to left, blue, turquoise)

}

.links {

text-decoration: none;
color: white;

}

.links:hover {

color: white;

}

.titulo {

color: grey;

}

#form input{

width: 25%;

}
