<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org.br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de usuário</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 class="titulo">Formulário de cadastro de contato</h1>

<form id="form" th:action="@{/cadastro}" th:object="${contato}" th:method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" th:field="*{nome}" placeholder="João do Exemplo" class="form-control" id="nome" name="nome" required autofocus>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" th:field="*{email}" placeholder="joaodoexemplo@gmail.com" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="tel" th:field="*{numero}" placeholder="5191234-5678" class="form-control" id="telefone" name="numero" pattern="[1-9]{2}[1-9]{5}-[1-9]{4}" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
<div>
    <button class="btn btn-primary"><a class="links" href="listagem">Lista de contatos</a></button>
</div>

</body>
</html>