<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Erro</title>
</head>
<body>

<h1>Usuário já cadastrado no sistema</h1>
<button><a class="links" href="/">Voltar para a página de cadastro</a></button>

</body>
</html>